/* 'meduim' media query section */
@media (min-width: 32.5em) {
    .box-1 h1{
        font-size: 30px;

    }
    .box-1 img{
        box-shadow: 3px 3px 3px 3px grey;
        float: right;     
    }
}